{% extends 'store/profile_base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<style type="text/css">
#hint_id_new_password1 {
	display: none;
}
</style>

{% endblock %}

{% block extra %}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<h1 class="text-center">Change Password</h1>

		<div class="card">
			<div class="card card-body">
				<form action="" method="POST">
					{% csrf_token %}

					{{form|crispy}}

					<button type="submit" class="btn btn-outline-dark btn-block mt-3"><i class="far fa-save"></i> Save</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}